body {
	font-family: 'Reem Kufi', sans-serif !important;
}

.button:link,
a:link, div:link {
 text-decoration:none;
}

footer {
	padding-left: 0 !important;
}

tr td {
	font-family: 'Open Sans';
	border-radius: 10px;
	/*border: 1px gray dotted;*/
}

p, li{
	font-family: 'Open Sans', sans-serif;
}

@media (max-width: 600px) {
	nav img {
		width: 40% !important;
		height: auto;
		margin-left: 4px !important;
		margin-top: 10px !important;
	}
}

#index-banner img {
	width: 100% !important;
	height: auto !important;
}

header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

.brand-logo img {
	width: 245px;
	cursor: initial;
}

.nav-wrapper img{
	width: 210px;
	margin: -2px 42px;
}

nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
	display: block;
    color: black;
}

.parallax-container img{
	width: 1000px;
	height: auto;
}

nav img {
	width: 35% !important;
	height: auto !important;
	margin-top: 10px !important;
}

h3 {
	color:white;
	padding-left: 12px;
}

.side-nav .collapsible-header, .side-nav.fixed .collapsible-header {
	color: #e5e1e1;
}
.side-nav .collapsible-header:hover, .side-nav.fixed .collapsible-header:hover {
	color:white;
}

.side-nav .collapsible-body {
    padding-left: 35px;
}

.side-nav .collapsible-body a{
    color: black;
}

.side-nav .collapsible-body:hover {
	background: #e0f2f1;
}

.info-top-space {
	margin-top: 180px;
}

.fases {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin: 1px blue solid;
}

h4 {
	text-align: center;
}

.historia img{
	margin-top: 0em;
}

.manito{
	display: block;
	margin-left: auto;
	margin-right: auto;
	position :relative;
	opacity: 0;
	animation: fadeUpIn 2.3s;
	-webkit-animation: fadeUpIn 2.3s;
	animation-iteration-count: 3;
}

.def_title {
/*	animation: fadeUpIn 2.3s;
	-webkit-animation: fadeUpIn 2.3s;*/
	text-align: center;
	position: fixed;
	background-color: white;
	width: 100%;
} 

.def_text {
	font-size: 23px;
	text-align: justify;
	position: static;
}

.def_img {
	width: 100%;
}

.micos {
	max-width: 50%;
	max-height: 50%;
	margin-top: 3em;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.buyItem {
	/*border: 1px gray dashed;*/
}

.amazon-btn, .ibooks-btn {
	margin-bottom: 4em ;
	margin-top: 3em;

}

.amazon {
	width: 50%;
	margin-top: .7em;
}

.ibooks {
	width: 35%;
	margin-bottom: 1em;
}

.page-footer {
	padding-bottom: 1px;
	background: #b3393b;
	color: white;
}

.fa-shopping-cart:before {
    color: white;
}

/*Contenido de tablas*/
.tbl_head {
	padding-right: 70px;
	color: white;
	text-align: center;
	border: 4px solid white;
	border-radius: 15px;
}


/*Colaboracíon*/
.colab li {
	margin-bottom: 2em;
	padding: 1em;
	border-radius: 10px;
}

.dim-tbl {
	border: 2px gray dashed;
}

/*Priorización B V*/
.prio-txt p, .auto-txt p {
	font-size: 20px;
	margin-top: 12em;
	text-align: justify;d
}

/*Inicio*/
.inicio_tbl {
	margin: 4em 0;
	border-radius: 10px;
}

.inicio_tbl tr td {
	border-radius: 10px;
	padding: 3em ;
}

.inicio_tbl tr td a {
	position: relative;
	float: right;
}

/*Aspectos - Organización*/
.rh_etapa td, .rh_enfoque td {
	width: 100px;
	height: 100px;
	padding: 30px;
	text-align: center;
	color: white;
}

.resp_liderazgo {
	width: 100%;
	margin-top: 50px;
}

.rol {
	width: 20%;
}
/*Modal config*/

.modal_img {
	margin-top: 70px;
}

.modal-fixed-footer {
	width: 70% !important;
	max-height: 400% !important;
}

.modal-fixed-footer img {
	width: 100%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*KeyFrames*/
@-webkit-keyframes fadeUpIn
{
  0% { opacity:0; left:-150px; color: black;}
  50% { opacity:1; left: 40px; color: gray;}
  100% { opacity:0; left: -10px;}
}

/*Scroll Bar*/
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #ccc;
}

.header-proper {
  width: 80%;
  margin: 0 auto;
}
.header-proper .logo {
  font-family: "HelveticaNeueBlack", "HelveticaNeue-Black", "Helvetica Neue Black", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosBold', "Arial Black", sans-serif;
  font-weight: bold;
}

.header-proper .logo .blue {
  color: blue;
}

.scroll-line {
  height: 2px;
  margin-bottom: -2px;
  background: blue;
  width: 0%;
}

.content {
  padding: 100px 0;
  margin: 0 auto;
  width: 80%;
}

.headline {
  font-size: 60px;
  line-height: 66px;
}

/*--------- Inicia ---------*/
/*--------- Aspectos / Justificación ---------*/
.justificacion-images__container{
	text-align: center;
}

.justificacion-images__item {
	/*border: 1px solid gray;*/
	margin-top: 10px;
}

.justificacion-images__item--wide {
	width: 100%;
	height: auto;
	margin-top: 10px;
  /*border: 1px solid gray;*/
}

.justificacion-images__container--left img{
	display: block;
	margin: auto;
}

.justificacion-images__container--left p span {
	font-weight: bold;
}

/*--------- Finaliza ---------*/
/*--------- Aspectos / Justificación ---------*/

/*--------- Inicia ---------*/
/*--------- Aspectos / Calidad ---------*/
.calidad-images__container img {
	margin: auto;
	display: block;

}

/*--------- Finaliza ---------*/
/*--------- Aspectos / Calidad ---------*/
